
.escola-imagem{
    width: 25%;
}

.escola{
    background-image: linear-gradient(#424E61,#16CFF8);
        color:white;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 24px 0;
}

<section class="escola">
<div class="escola-div-conteudo">
    <h2 class="escola-titulo">Sobre a Escola</h2>
    <p class="escola-texto-um">A Escola Alura foi fundada em 2010 e tem como objetivo ensinar Pensamento Computacional, através do ensino de  Programação.</p>
    <p class="escola-texto-dois">A turma mais estudiosa e famosa é a Segunda Série A. Nós somos super unidos e a turma favorita por todos os professores e professoras que nos ajudam!</p>
</div>
<img class="escola-imagem" src="Formula-bro.png" alt="Professora no quadro">
</section>

.escola-div-conteudo{
    width: 35%;
}

.escola-titulo{
    padding: 24px 0;
}